(
    name: "groot_bird",
    script: Some("assets/scripts/bird.gos"),
    transform: (
        position: (-3.0, 0.0, 0.0),
        rotation: (0.0, 0.0, 0.0),
        scale: (1.2, 1.2, 1.2),
    ),
    visual: Some(Sprite(
        size: (1.2, 1.2),
        color: Rgba(1.0, 1.0, 1.0, 1.0),
        texture: Some("assets/textures/bird.png"),
    )),
    collider: Some(Box2D(width: 1.0, height: 1.0)),
)