(
    name: "Flappy Groot Scene",
    environment: (
        ambient_light: Some((
            color: Rgba(0.0, 0.94, 0.46, 1.0),
            brightness: 0.4,
        )),
        camera: Some(Orthographic2D(
            viewport: (21.33, 12.0),
            position: (0.0, 0.0),
        )),
    ),
    entities: [
        (
            prefab: "assets/prefabs/background.prefab.ron",
            entity_id: Some(10),
            tag: "Background",
        ),
        (
            prefab: "assets/prefabs/bird.prefab.ron",
            entity_id: Some(100),
            tag: "Player",
        ),
        (
            prefab: "assets/prefabs/spawner.prefab.ron",
            entity_id: Some(200),
            tag: "Spawner",
        ),
        (
            prefab: "assets/prefabs/ground.prefab.ron",
            entity_id: Some(300),
            tag: "Boundary",
        ),
        (
            prefab: "assets/prefabs/ceiling.prefab.ron",
            entity_id: Some(400),
            tag: "Boundary",
        ),
    ],
)